.top-header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFF99;
  border-bottom: 1px solid #f5f5f5;
}

.app-name-content {
  font-size: 50px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #222222;
}

.lists {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

.user-page {
  text-decoration: none;
  margin-right: 3vw;
  color: #222222;
}

.new-meal-link {
  text-decoration: none;
  margin-right: 3vw;
  color: #222222;
}

.logout {
  text-decoration: none;
  margin-right: 3vw;
  color: #222222;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #222222;
}

.sign-up {
  text-decoration: none;
  margin-right: 3vw;
  color: #222222;
}