<%= render 'shared/header' %>

<div class='user-page'>
  <div class='user-page-contents'>
    <div class='side-contents'>
      <div class='user-profile'>
        <div class='user-nickname'>
        </div>
        <div class='user-gender'>
        </div>
        <div class='user-age'>
        </div>
        <div class='user-height'>
        </div>
        <div class='user-weight'>
        </div>
      </div>
      <div class='user-metabolism'>
      </div>
    </div>
    <div class='main-contents'>
      <ul class='main-tabs'>
        <li class='tab'></li>
        <li class='tab'></li>
      </ul>
      <div class='main-meals'>
        <div class='tabbox'></div>
        <div class='tabbox'></div>
      </div>
    </div>
  </div>
</div>