<%= render 'shared/header' %>

<%# 一覧表示 %>
<div class='meal'>
  <div class='meal-image'>
  </div>
  <div class='meal-name'>
  </div>
  <div class='meal-username'>
  </div>
  <div class='meal-favo'>
  </div>
</div>
<%# /一覧表示 %>