.login-btn {
  width: 40%;
  margin: 25px auto;
  text-align: center;
  background-color: #FF773E;
  border-radius: 20px;
  border-bottom: solid 4px #FF4F02;
}

.login-red-btn {
  font-size: 35px;
  color: #fff;
  border: none;
  background-color: #FF773E;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}